<!-- 
Author: Andy Yang
Date: 2024-10-11
Project: VisuAI Front-End
Description: Created the Visuals and Details of VisuAI Application Part with Flask, HTML, CSS, and JavaScript
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camera Page</title>
    <link rel="stylesheet" href="static/CSS/camera.css"> 
    <script defer src="static/JS/camera.js"></script> 
</head>
<body>

    <header class="header">
        <div class="glow-img-container">
            <img src="static/images/logo.png" alt="Glowing Light Image" class="glow-img">
        </div>
        <h1 class="glow-title">VisuAI - Object Detection AI</h1>
        <p class="subtitle typing typing1">Believe in the power of change and start your journey with us.</p>
        <a href="{{ url_for('index') }}" class="cta-button">Return Home</a>
    </header>

    <div class="video-title">        <h2>Live Camera Feed</h2>
    </div>

    <div class="video-instruction-container">
        <div class="video-container">
            <img src="{{ url_for('video_feed') }}" alt="Live Camera Feed" class="video-feed">
        </div>
        
        <div class="instruction-button-container">
            <a href="{{ url_for('index') }}#intro" class="instruction-button">View Instructions</a>
        </div>
    </div>

    

<footer class="footer">
    <div class="footer-content">
        <a href="https://github.com/yourusername" target="_blank" class="footer-link">
            <img src="static/images/github.png" alt="GitHub Logo" class="footer-icon"> GitHub
        </a>
        <div class="attribution">
            <a href="https://www.freepik.com/">Title Background Designed by Kotkoa / Freepik</a>
        </div>
        <p class="copyright">© 2024 VisuAI. All Rights Reserved.</p>
    </div>
</footer>